In [1]:
import pandas as pd
import sys
sys.path.append('../')
sys.path.append('../../nfldb')
import tasks.base as base
import tasks.dvoa_crap as dvoa
import numpy as np

period = base.DatePeriod(2016, 7)
df = dvoa.compute_qb_passing_dvoa(period)
df

                           fantasy_points
                                    count       std      mean
down yardline  yards_to_go
1    midfield  long                     3  0.369504  0.213333
     redzone   long                     1       NaN  0.000000
     touchback long                     1       NaN  0.600000
2    goaline   short                    1       NaN  0.000000
     midfield  really_long              1       NaN  1.000000
3    goaline   short                    1       NaN  4.080000
     redzone   medium                   1       NaN  0.000000
               really_long              1       NaN  0.280000

In [14]:

grouped = df.groupby(['down', 'yardline', 'yards_to_go']).agg({'n': np.sum, 'fantasy_points': [np.sum, np.std]})
grouped['fantasy_points']['std']

down  yardline   yards_to_go
1     midfield   long           0.369504
      redzone    long                NaN
      touchback  long                NaN
2     goaline    short               NaN
      midfield   really_long         NaN
3     goaline    short               NaN
      redzone    medium              NaN
                 really_long         NaN
Name: std, dtype: float64